In [2]:
import pandas as pd
data = [1,2,3,4,5]
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
index = ['Linha' + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [5]:
s = pd.Series(data=data, index = index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [6]:
data = {'Linha' + str(i): i + 1 for i in range(5)}
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [8]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [10]:
s1 = s + 2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

In [11]:
s2 = s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
dtype: int64

In [12]:
data = [[1,2,3], 
        [4,5,6], 
        [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [14]:
index = ['Linha' + str(i) for i in range(3)]
index

['Linha0', 'Linha1', 'Linha2']

In [15]:
df1 = pd.DataFrame(data = data, index=index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [16]:
columns = ['Colunas' + str(i) for i in range(3)]
columns

['Colunas0', 'Colunas1', 'Colunas2']

In [17]:
df1 = pd.DataFrame(data = data, index=index, columns=columns)
df1

        Colunas0  Colunas1  Colunas2
Linha0         1         2         3
Linha1         4         5         6
Linha2         7         8         9

In [18]:
data = {
    'Coluna0': {
        'Linha0': 1,
        'Linha1': 4,
        'Linha2': 7
    },
    'Coluna1': {
        'Linha0': 2,
        'Linha1': 5,
        'Linha2': 8
    },
    'Coluna2': {
        'Linha0': 3,
        'Linha1': 6,
        'Linha2': 9
    }
}
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [19]:
df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [20]:
data = [(1,2,3), 
        (4,5,6), 
        (7,8,9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [21]:
df3 = pd.DataFrame(data=data, index=index, columns=columns)
df3

        Colunas0  Colunas1  Colunas2
Linha0         1         2         3
Linha1         4         5         6
Linha2         7         8         9

In [22]:
df1[df1 > 0] = 'A'
df1

       Colunas0 Colunas1 Colunas2
Linha0        A        A        A
Linha1        A        A        A
Linha2        A        A        A

In [23]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [24]:
df3[df3 > 0] = 'C'
df3

       Colunas0 Colunas1 Colunas2
Linha0        C        C        C
Linha1        C        C        C
Linha2        C        C        C

In [29]:
df4 = pd.concat([df1, df2, df3], axis=1)
df4

,Colunas0,Colunas1,Colunas2,Coluna0,Coluna1,Coluna2,Colunas0,Colunas1,Colunas2
Linha0,A,A,A,B,B,B,C,C,C
Linha1,A,A,A,B,B,B,C,C,C
Linha2,A,A,A,B,B,B,C,C,C

In [30]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

c:\users\ramon.nascimento\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [31]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [32]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [33]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4